language: ruby
sudo: required

env:
  global:
    - ORACLE_COOKIE=sqldev
    - ORACLE_FILE=oracle11g/xe/oracle-xe-11.2.0-1.0.x86_64.rpm.zip
    - ORACLE_HOME=/u01/app/oracle/product/11.2.0/xe
    - ORACLE_SID=XE

matrix:
  include:
    - env: APT_ADDON=0
      addons:
        apt: false
    - env: APT_ADDON=1
      addons:
        apt:
          packages:
            - libaio1
            - rpm

before_install:
  - ./download.sh
  - ./install.sh
